body {
  background-color: #bbb;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo {
  background-color: #eee;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}
button {
  background-color: blueviolet;
  color: white;
  padding: 8px 15px;
  margin: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  padding: 9px 16px;
}

input {
  padding: 7px;
}
